.container_small-card {
    border: 1px solid white;
    border-radius: 8px;
    width: 700px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 10px;
}
.small-card_photo > img {
    width: 200px;
    height: 100%;
    min-width: 200px;
    margin-right: 20px;
    border-radius: 6px 0px 0px 6px;
}
.small-card_title {
    display: flex;
    justify-content: center;
    align-items: center;
}